# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs

# os
.DS_Store
Thumbs.db
desktop.ini

# crashes
hs_err_pid*
*.log

# vscode
.vscode
